<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="analytics-wrapper">
  <h2 class="analytics-header">Concierge Analytics</h2>
  <br>
  <h4 class="key-metrics-header">Key Metrics</h4>
  <div class="row metrics-row">
    <div class="col-md-3">
      <div class="metrics-title-container"><div class="metrics-title">Rating Submissions Per Rating Page View (Unique)</div></div>
      <div class="metric-container">
        <%= @submitted_rating_percent %>%
      </div>
    </div>
    <div class="col-md-3">
      <div class="metrics-title-container"><div class="metrics-title">Rated 4 or 5</div></div>
      <div class="metric-container">
        <%= @percent_four_or_five_ratings %>%
      </div>
    </div>
    <div class="col-md-3">
      <div class="metrics-title-container"><div class="metrics-title">Invite Page Views Per Link</div></div>
      <div class="metric-container">
        <%= @page_views_per_invite_link_displayed %>x
      </div>
    </div>
    <div class="col-md-3">
      <div class="metrics-title-container"><div class="metrics-title">Sign Ups Per Invite Page View</div></div>
      <div class="metric-container">
        <%= @signups_per_invite_page_view %>%
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="chart-container">
    <h4>Conversion on Sign Up Page</h4>
    <%= column_chart(@funnel) %>

  </div>
  <br>
  <br>

  <div class="row chart-container">
    <div class="col-md-6">
      <h4>Top Users Driving Sign Up</h4>
      <%= column_chart(@percent_of_users_driving_sign_up) %>
    </div>
    <div class="col-md-6">
    <h4>Invite Page Views Per Link by Rating</h4>
      <%= bar_chart(@page_views_by_rating) %>
    </div>
  </div>
  <br>
  <br>
  <div class="row chart-container">
    <div class="col-md-6">
      <h4>Ratings By Number of Stars</h4>
        <%= pie_chart(@ratings_percent_breakdown) %>
      </div>
    <div class="col-md-6">
      <h4>Raw Numbers</h4>
      <table class="table table-striped table-bordered analytics-table">
        <th>
          <td>
            #
          </td>
        </th>
        <tr>
          <td>
            <strong>Total Login Page Views</strong>
          </td>
          <td>
            <%= @events_total["Login Page View"] %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Unique Rating Page Views</strong>
          </td>
          <td>
            <%= @unique_events["Rating Page View"] %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Unique Submitted Ratings</strong>
          </td>
          <td>
            <%= @unique_events["Submitted Rating"] %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Unique Submitted Ratings (4 or 5)</strong>
          </td>
          <td>
            <%= @fours_and_fives_submited %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Total Invite Page Views</strong>
          </td>
          <td>
            <%= @events_total["Invite Page View"] %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Sign Up Button Clicked</strong>
          </td>
          <td>
            <%= @events_total["Sign Up Button Clicked"] %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Total Sign Ups</strong>
          </td>
          <td>
            <%= @events_total["User Signed Up"] %>
          </td>
        </tr>
      </table>
    </div>
  <br>
  </div>
  <br>
  <br>
</div>
