<div class="analytics-wrapper">
  <h2 class="analytics-header">Concierge Analytics</h2>
  <div class="separator"></div>
  <h4>Login to Rating Submission Funnel</h4>
  <table class="table table-striped table-bordered analytics-table">
    <th>
      <td>
        <strong>Conversion Percentage</strong>
      </td>
    </th>
    <tr>
      <td>
        <strong>Login Page View</strong>
      </td>
      <td>
        100%
      </td>
    </tr>
    <tr>
      <td>
        <strong>Unique Rating Page View</strong>
      </td>
      <td>
        <%= @rating_page_view_percent %>%
      </td>
    </tr>
    <tr>
      <td>
        <strong>Unique Submitted Rating</strong>
      </td>
      <td>
        <%= @submitted_rating_percent %>%
      </td>
    </tr>
  </table>
  <h4>Invite Link Displayed to Sign Up Funnel</h4>
  <table class="table table-striped table-bordered analytics-table">
    <th>
      <td>
        <strong>4 Star Conversion Percentage</strong>
      </td>
      <td>
        <strong>5 Star Conversion Percentage</strong>
      </td>
    </th>
    <tr>
      <td>
        <strong>Link Displayed</strong>
      </td>
      <td>
        100%
      </td>
      <td>
        100%
      </td>
    </tr>
    <tr>
      <td>
        <strong>Invite Page View</strong>
      </td>
      <td>
        <%= @invite_page_view_percent_4 %>%
      </td>
      <td>
        <%= @invite_page_view_percent_5 %>%
      </td>
    </tr>
    <tr>
      <td>
        <strong>Sign Up Button Clicked</strong>
      </td>
      <td>
        <%= @sign_up_button_clicked_percent_4 %>%
      </td>
      <td>
        <%= @sign_up_button_clicked_percent_5 %>%
      </td>
    </tr>
    <tr>
      <td>
        <strong>Successful Sign Up</strong>
      </td>
      <td>
        <%= @successful_sign_up_percent_4 %>%
      </td>
      <td>
        <%= @successful_sign_up_percent_5 %>%
      </td>
    </tr>
  </table>
  <h4>Top Users driving Sign Up</h4>
  <table class="table table-striped table-bordered analytics-table">
    <th>
      <td>
        <strong>From Top 10%</strong>
      </td>
      <td>
        <strong>From Top 20%</strong>
      </td>
    </th>
    <tr>
      <td>
        <strong>Sign Ups</strong>
      </td>
      <td>
        <%= @top_ten_percent_of_referrals %>%
      </td>
      <td>
        <%= @top_twenty_percent_of_referrals %>%
      </td>
    </tr>
  </table>
  <div class="top-users-note">
    <%= @name %> is leading the charge with <%= @top_referrer_as_percent %>% of all referrals
  </div>
  <br>
  <br>
  <div class="analytics-footer-note">
    <i>Note: Percentages may exceed 100% as multiple invite page views can result from a single invite link</i>
  </div>
  <br>
</div>
