<p id="notice"><%= notice %></p>

<p>
  <strong>Rater:</strong>
  <%= @rating.rater %>
</p>

<p>
  <strong>Rated:</strong>
  <%= @rating.rated %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @rating.rating %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
